#color{
    height: 100px;
    width: 100px;
    border: solid black 1px;

}

body{
     margin: 0;
     padding: 0;
box-sizing: border-box;

}
div{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
#copybtn{
   
    margin: 20px;
}
nav{
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.outer{
    height: 450px;
    width: 450px;
    border:solid blue 2px;
  
}
#generateBTN{
    margin-top: 20px;
}
